@media (max-height: 400px){
  .news-list{display: none}
}


/* Extra small devices (phones, 320px and up) */
@media (max-width: 460px) {

  .wysiwyg .texted-image .description {
    font-size: em(12px) !important;
    width: 45%;
  }

  .main-menu ul li > .submenu > ul a {
    font-size: em(16px);
  }

  .main-page-content .page-title-wrap .sup {
    font-size: em(18px);
  }

  .main-page-content .page-title-wrap h1 {
    font-size: em(23px);
  }
  .main-page-content.single-post-content .post-meta h2,
  .main-page-content .blog-list-content .video-list .main-video .post-meta h2
  {
    font-size: em(15px);
  }
}

/* Extra small devices (phones, 320px and up) */
@media (max-width: 360px) {
  footer .in {
    padding: 0 12px
  }
  .social-buttons a.fb {
    margin: 0 1px
  }
  footer .meta .lang {
    margin-right: 15px
  }
  .wysiwyg .texted-image .description {
    font-size: em(10px) !important;
  }

  .news-list #owl-news-carousel .item {
    padding-left: 40px;
    padding-right: 40px;
  }
  .wysiwyg .texted-image.career .description {font-size: em(10px);}
  .main-page-content.single-post-content .single-footer .share-buttons span {display:none}
}

/* Extra small devices (phones, 320px and up) */
@media (min-width: $screen-xs-width) and (max-width: $screen-sm-width - 1) {
  footer .meta .location .jq-selectbox .jq-selectbox__select {
    text-indent: -99999px;
    width: 1px !important;
    padding-left: 15px
  }
  footer .meta .location .jq-selectbox .jq-selectbox__dropdown {
    width: 145px
  }
  .main-page-content {
    padding-left: 0;
    padding-bottom: 0
  }
  .main-page-content.advantages-page-content {
    padding-bottom: $ew-footer-height
  }
  .main-page-content.careers-page-content{
    padding-bottom: $ew-footer-height
  }
  .main-page-content.careers-page-content .in{
    padding-bottom: 0
  }
  .wysiwyg .texted-image .description {
    font-size: em(12px);
    padding-right: 15px
  }
  .main-page-content .page-title-wrap img {
    position: relative
  }
  .main-page-content .in {
    padding-top: $ew-menu-button-height + 40px;
    padding-bottom: $ew-footer-height + 40px;
  }
  .news-list.single-page-post-list {
    position: relative;
    margin-top: 0 !important;
    padding-bottom: $ew-footer-height;
    max-width: 100%
  }
  .news-list.single-page-post-list #owl-news-carousel .item {
    background-image: url("../images/content-fog-bg.png")
  }
  .main-menu ul li > .submenu {
    left: 0;
    width: 100%;
    position: relative;
    padding-bottom: 0;
    padding-top: 0;
  }
  .main-menu ul li > .submenu > ul{
    padding: 0 0 30px 0px;
    background-image: none;
  }
  .main-menu ul li > .submenu > ul a{
    padding-left: 50px;
  }

  .main-menu ul li > .submenu > ul a {
    @include use-registered-font($ew-base-font-regular);
  }
  .wysiwyg .texted-image.career .description {width: 66%;font-size: em(12px)}
  .wysiwyg .texted-image.career .description .enum {font-size: em(28px)}
  .main-page-content .contacts-page-content .contact-item {width:100%}
  .wysiwyg .gallery-collection .items-list .gallery-item {width: 50%}
  .wysiwyg .gallery-collection .items-list .gallery-item.last-gallery-item {display: none !important;}
  .wysiwyg .gallery-collection .gallery-collection-info .head {width: 100%;padding-bottom: 20px;text-align:left;padding-right: 0;}
  .wysiwyg .gallery-collection .gallery-collection-info .body {width: 100%;padding-left: 0;}
  .main-page-content .blog-list-content .video-list .video-items-list-wrapper .item {width: 100%;padding-left: 0}
  .main-page-content .blog-list-content .video-list .video-items-list-wrapper {margin: em(10px) $ew-content-padding em(10px)}
  .ew-video-popup-wrap .videoWrapper {
    width: 320px;
    height: 180px;
    margin-top: -90px;
    margin-left: -160px;
  }
}

/* Small devices (tablets, 768px and up) */
@media (min-width: $screen-sm-width) and (max-width: $screen-md-width - 1) {
  //.main-page-content {padding-left: 0}
  .main-page-content .page-title-wrap img {
    position: relative
  }
  .wysiwyg .texted-image .description {
    font-size: em(14px);
    padding-right: 15px
  }
  .main-page-content {
    padding-left: 380px
  }
  .main-page-content.careers-page-content .in{
    padding-bottom: 0
  }
  .menu-logo, .news-list, .main-menu {
    max-width: 380px
  }
  .main-menu ul li > .submenu {
    left: 380px;
    width: 388px;
  }
  .main-menu ul li.expanded > .submenu {
    display: block;
  }

  .main-menu ul li.expanded > a {
    text-decoration: none;
    background: $ew-light-color;
  }
  .wysiwyg .texted-image.career .description .enum {font-size: em(36px)}
  .wysiwyg .texted-image.career .description {font-size: em(12px);width: 62%}
  .main-page-content .contacts-page-content .contact-item {width:100%}
  .main-page-content .blog-list-content .video-list .video-items-list-wrapper {margin: em(10px) $ew-content-padding em(10px)}
  .ew-video-popup-wrap .videoWrapper {
    width: 600px;
    height: 338px;
    margin-top: -169px;
    margin-left: -300px;
  }
}

/* Small devices (tablets, 768px and up) */
@media (min-width: $screen-sm-width) and (max-width: 1024px) {
  .wysiwyg .gallery-collection .items-list .gallery-item {width: 50%}
  .wysiwyg .gallery-collection .items-list .gallery-item.last-gallery-item {display: none !important;}
  .wysiwyg .gallery-collection .gallery-collection-info .head {width: 100%;padding-bottom: 20px;text-align:left;padding-right: 0;}
  .wysiwyg .gallery-collection .gallery-collection-info .body {width: 100%;padding-left: 0;}
}

/* Small devices (tablets, 768px and up) */
@media (min-width: $screen-sm-width) and (max-width: 1023px) {
  .main-page-content .blog-list-content .video-list .video-items-list-wrapper .item {width: 100%;padding-left: 0}
  .main-page-content .blog-list-content .video-list .video-items-list-wrapper {margin: em(10px) $ew-content-padding em(10px)}
}

/* Medium devices (Laptops, 992px and up) */
@media (min-width: $screen-md-width) and (max-width: $screen-lg-width - 1) {
  .wysiwyg .texted-image .description {
    font-size: em(14px);
    padding-right: 15px
  }

  .main-menu ul li.expanded > a {
    text-decoration: none;
    background: $ew-light-color;
  }
  .main-menu ul li.expanded > .submenu {
    display: block;
  }
  .wysiwyg .texted-image.career .description {font-size: em(16px)}
  .main-page-content.careers-page-content .in{
    padding-bottom: 0
  }
}

/* Large devices (Desktop, 1200px and up) */
@media (min-width: $screen-lg-width) {

  .main-menu ul li.expanded > a {
    text-decoration: none;
    background: $ew-light-color;
  }
  .main-menu ul li.expanded > .submenu {
    //display: block;
  }
  .main-menu ul li:hover .submenu {
    //display: block;
  }
  .main-page-content.careers-page-content .in{
    padding-bottom: 0
  }
}