@mixin border-radius($radius...) {
  -webkit-border-radius: $radius;
  -moz-border-radius: $radius;
  -ms-border-radius: $radius;
  border-radius: $radius;
}

@mixin transition($args...) {
  -webkit-transition: $args;
  -moz-transition: $args;
  -ms-transition: $args;
  -o-transition: $args;
  transition: $args;
}

@mixin transform($args...) {
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -ms-backface-visibility: hidden;
  -webkit-transform: $args;
  -moz-transform: $args;
  -ms-transform: $args;
}

@mixin noTransition() {
  -moz-transition-property: none;
  -webkit-transition-property: none;
  -o-transition-property: none;
  transition-property: none;
}

@mixin animation($str) {
  -webkit-animation: #{$str};
  -moz-animation: #{$str};
  -ms-animation: #{$str};
  -o-animation: #{$str};
  animation: #{$str};
}

@mixin disable-content-selection() {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

@mixin columns($columns, $margin) {
  -webkit-columns: $columns;
  -moz-columns: $columns;
  columns: $columns;
  -webkit-column-gap: $margin;
  -moz-column-gap: $margin;
  column-gap: $margin;
}

@mixin linear-gradient($fromColor, $toColor) {
  background-color: $toColor; /* Fallback Color */
  background-image: -webkit-gradient(linear, left top, left bottom, from($fromColor), to($toColor)); /* Saf4+, Chrome */
  background-image: -webkit-linear-gradient(top, $fromColor, $toColor); /* Chrome 10+, Saf5.1+, iOS 5+ */
  background-image: -moz-linear-gradient(top, $fromColor, $toColor); /* FF3.6 */
  background-image: -ms-linear-gradient(top, $fromColor, $toColor); /* IE10 */
  background-image: -o-linear-gradient(top, $fromColor, $toColor); /* Opera 11.10+ */
  background-image: linear-gradient(top, $fromColor, $toColor);
  filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0, StartColorStr='#{$fromColor}', EndColorStr='#{$toColor}');
}

@mixin opacity($alpha) {
  $opacity-ie: $alpha * 100;
  opacity: $alpha;
  -ms-filter: "alpha(opacity=$opacity-ie)";
  filter: alpha(opacity=$opacity-ie);
  -khtml-opacity: $alpha;
  -moz-opacity: $alpha;
}

@mixin box-shadow($args...) {
  -moz-box-shadow: $args;
  -webkit-box-shadow: $args;
  box-shadow: $args;
}

@mixin full-width-bg() {
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

@function _simple-font-url($name, $extension) {
  @return url($font_dir + $name + '.' + $extension);
}

@function _full-font-url($name, $extension, $format, $hash: '') {
  @return url($font_dir + $name + '.' + $extension + $hash) format($format);
}

@mixin register-font($name) {
  @font-face {
    font-family: $name;
    src: _simple-font-url($name, 'eot');
    src: _full-font-url($name, 'eot', 'embedded-opentype'),
    _full-font-url($name, 'woff2', 'woff2'),
    _full-font-url($name, 'woff', 'woff'),
    _full-font-url($name, 'ttf', 'truetype'),
    _full-font-url($name, 'svg', 'svg', '#' + $name);
  }
}

@mixin use-registered-font($name) {
  font-family: $name, Arial, serif;
}

@mixin use-google-font($name) {
  font-family: $name, cursive;;
}

@function em($target) {
  @return ($target / $ew-base-font-size) * 1em;
}