$screen-xs-width: 320px;
$screen-sm-width: 768px;
$screen-md-width: 992px;
$screen-lg-width: 1200px;

$font_dir: '../fonts/';

$ew-base-font-regular: "GothamProRegular";
$ew-base-font-bold:    "GothamProBold";
$ew-base-font-black:   "GothamProBlack";
$ew-base-font-light:   "GothamProLight";
$ew-base-font-italic:  "GothamProItalic";
$ew-azn-font-name:     "JAZNR";

$ew-black-color:    #000000;
$ew-white-color:    #ffffff;
$ew-base-color:     #00703c;
$ew-light-color:    #89c33f;
$ew-base-font-color:lighten($ew-black-color, 20);
$ew-base-font-size: 14px;
$ew-content-padding: 12%;


// WYSIWYG
$ew-text-color-default: lighten($ew-black-color, 40);  //#666666
$ew-text-color-light:   lighten($ew-black-color, 60);  //#999999
$ew-text-color-dark:    lighten($ew-black-color, 20);  //#333333
$ew-devider-color:      darken($ew-white-color, 7);    //#ededed


// Content Blocks
$ew-menu-button-width:      80px;
$ew-menu-button-height:     80px;
$ew-menu-button-background: lighten($ew-black-color, 20);

$ew-header-logo-width:      197px;
$ew-header-logo-height:     44px;


$ew-news-title-color: lighten($ew-black-color, 20);

$ew-footer-height:     60px;
$pf-input-height:      30px;
$pf-input-color:       darken($ew-white-color, 1);
$pf-input-border-color:darken($ew-white-color, 20);
$pf-input-font-size:   13px;
