
.jq-selectbox {
  vertical-align: middle;
  cursor: pointer;
  width: 100%;
  @include transition(0s);

  .jq-selectbox__select {
    height: $pf-input-height;
    width: 100%;
    padding: 0 35px 0 15px;
    color: $pf-input-color;
    line-height: $pf-input-height;
    @include use-registered-font($ew-base-font-light);
    font-size: $pf-input-font-size;
    background-color: transparent;
    border: 0px none;
  }

  &.disabled .jq-selectbox__select {
    background: url("../images/footer-bg.png");
    box-shadow: none;
    color: $pf-input-color;
  }

  .jq-selectbox__select-text {
    display: block;
    width: 100%;
    height: $pf-input-height;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  .jq-selectbox__trigger {
    position: absolute;
    top: 0;
    right: 0;
    width: 35px;
    height: 100%;
  }

  .jq-selectbox__trigger-arrow {
    position: absolute;
    top: 50%;
    width: 9px;
    height: 5px;
    background: url("../images/styler-arrow.png") 0 -5px no-repeat;
    margin-top: -2px;
    right: 12px;
    overflow: hidden;
    @include transition(0s);
  }

  &.opened {
    .jq-selectbox__trigger-arrow { background-position: 0 0;}
  }

  .jq-selectbox__dropdown {
    top: $pf-input-height;
    width: 100%;
    margin: 0;
    padding: 0;
    bottom: 45px !important;
    background: url("../images/footer-bg.png");
    line-height: $pf-input-height;
    font-size: $pf-input-font-size;
  }

  .jq-selectbox__not-found {
    margin: 5px;
    padding: 5px 8px 6px;
    background: #F0F0F0;
    font-size: 13px;
  }

  ul {
    margin: 0;
    padding: 0;
    max-height: 300px;
  }

  li {
    line-height: 30px;
    min-height: 20px;
    padding: 0 15px;
    @include disable-content-selection();
    color: $pf-input-color;;

    &.option{padding-left:25px}
  }
}
