.browsehappy {
  margin: 0;
  padding: 25px 15px;
  line-height: 22px;
  @include use-registered-font($ew-base-font-regular);
  color: $ew-white-color;
  position: fixed;
  left: 0;
  top: $ew-menu-button-height;
  max-width: 420px;
  width: 100%;
  background: red;
  text-align: center;

  a {
    color: $ew-white-color;
    text-decoration: underline;
  }
}

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  outline: 0;
  @include transition(0.3s);
}

a {
  color: $ew-news-title-color;
  text-decoration: none;

  &:hover {
    color: $ew-news-title-color;
    text-decoration: underline;
  }
}

body, html {
  min-width: 320px;
  font-family: $ew-base-font-light;
  font-size: $ew-base-font-size;
  color: $ew-base-font-color;
  height: 100%;
}

.azn {
  @include use-registered-font($ew-azn-font-name);
}

.main-page-content {
  display: block;
  overflow: hidden;
  position: relative;
  z-index: 50;
  padding: 0 0 $ew-footer-height 420px;

  .in {
    background: url("../images/content-fog-bg.png");
    padding-top: $ew-menu-button-height;
    padding-bottom: $ew-footer-height;
    display: block;
    overflow: hidden;
    min-height: 950px;
  }

  &.single-post-content {

    .post-meta {
      display: block;
      overflow: hidden;
      margin: 15px 0 10px;

      dt {
        min-width: 45px;
        margin-right: 10px;
      }

      dd {
        padding-left: 75px;
      }

      h2 {
        padding: 0;
        margin: 0;
        font-size: em(18px);
        line-height: em(18px);
      }

      time {
        float: left;
        width: 45px;
        height: 50px;
        margin: 2px 0 0 0;
        text-align: center;
        font-size: 15px;
        line-height: 15px;

        span {
          display: block;
          font-size: 30px;
          line-height: 28px;
          @include use-registered-font($ew-base-font-bold);
        }
      }
    }

    .single-footer {
      display: block;
      overflow: hidden;
      margin-top: 40px;
      padding: 0 $ew-content-padding;

      .back-to-catalog {
        position: relative;
        float: left;
        overflow: hidden;
        width: 30px;
        height: 30px;
        background: url("../images/green-arrows.png") 0 0 no-repeat;
        text-indent: -9999px;
        @include transition(0s);

        &:hover {
          background-position: 0 -30px;
        }
      }

      .share-buttons {
        float: right;
        position: relative;
        color: $ew-text-color-light;

        span {
          display: inline-block;
          height: 30px;
          line-height: 30px;
        }

        .colored-social-buttons {
          float: right;
          margin-left: 15px;
        }
      }
    }
  }

  .blog-list-content {
    display: block;
    overflow: hidden;


    .video-list {

      .main-video {
        display: block;
        overflow: hidden;

        .post-meta {
          display: block;
          overflow: hidden;
          margin: 15px 0 10px;

          dt {
            min-width: 45px;
            margin-right: 10px;
          }

          dd {
            padding-left: 75px;
          }

          h2 {
            padding: 0;
            margin: 0;
            font-size: em(18px);
            line-height: em(18px);
          }

          time {
            float: left;
            width: 45px;
            height: 50px;
            margin: 2px 0 0 0;
            text-align: center;
            font-size: 15px;
            line-height: 15px;

            span {
              display: block;
              font-size: 30px;
              line-height: 28px;
              @include use-registered-font($ew-base-font-bold);
            }
          }
        }
      }

      .video-items-list-wrapper {
        position: relative;
        display: block;
        overflow: hidden;
        padding-top: 25px;
        margin: em(10px) $ew-content-padding em(10px) $ew-content-padding - 4%;

        .item-pair-container {
          display: block;
          overflow: hidden;
        }

        .item {
          float: left;
          width: 50%;
          padding-left: 5%;
          margin-bottom: 33px;

          .thumb {
            position: relative;
            display: block;
            overflow: hidden;
            margin-bottom: 22px;

            img {
              float: left;
              width: 100%;
              padding: 0;
              margin: 0;
            }

            .play-button {
              position: absolute;
              width: 62px;
              height: 44px;
              left: 50%;
              top: 50%;
              margin-top: -22px;
              margin-left: -31px;
              background: url("../images/play-youtube.png") 0 0 no-repeat;
              @include transition(0s);
            }

            &:hover .play-button {
              background-position: 0 -44px;
            }
          }

          .post-meta {
            display: block;
            overflow: hidden;
            margin: 15px 0 10px;
            padding-left: 0;
            padding-right: 0;

            dt {
              min-width: 45px;
              margin-right: 10px;
            }

            dd {
              padding-left: 75px;
            }

            .h2 {
              padding: 0;
              margin: 0;
              font-size: 14px;
              line-height: 20px;
              color: $ew-text-color-dark;

              a {
                color: $ew-text-color-dark;
              }
            }

            time {
              float: left;
              width: 45px;
              height: 50px;
              margin: 2px 0 0 0;
              text-align: center;
              font-size: 15px;
              line-height: 15px;

              span {
                display: block;
                font-size: 30px;
                line-height: 28px;
                @include use-registered-font($ew-base-font-bold);
              }
            }
          }
        }
      }
    }

    .post-list {
      display: block;
      overflow: hidden;
      margin: 15px 0 10px;

      dt {
        min-width: 45px;
        margin-right: 10px;
      }

      dd {
        padding-left: 75px;
        margin-bottom: 47px;

        a.detail-title {
          display: inline-block;
          padding: 0;
          margin: 0;
          font-size: $ew-base-font-size;
          line-height: 20px;
          font-weight: 400;
          @include use-registered-font($ew-base-font-regular);
          color: $ew-text-color-dark
        }
      }

      time {
        float: left;
        width: 45px;
        height: 50px;
        margin: 2px 0 0 0;
        text-align: center;
        font-size: 15px;
        line-height: 15px;

        span {
          display: block;
          font-size: 30px;
          line-height: 28px;
          @include use-registered-font($ew-base-font-bold);
        }
      }
    }

    .blog-footer {
      display: block;
      overflow: hidden;
      margin-top: 40px;
      padding: 0 $ew-content-padding;

      .page {
        position: relative;
        float: left;
        overflow: hidden;
        width: 30px;
        height: 30px;
        background: url("../images/green-arrows.png") 0 0 no-repeat;
        text-indent: -9999px;
        @include transition(0s);

        &.prev {
          background-position: 0 0;

          &:hover {
            background-position: 0 -30px;
          }
        }

        &.next {
          background-position: -30px 0;
          margin-left: 55px;

          &:hover {
            background-position: -30px -30px;
          }
        }
      }
    }
  }

  .contacts-page-content {
    display: block;
    overflow: hidden;
    padding: 0 $ew-content-padding;

    .contact-group {
      display: block;
      overflow: hidden;
    }

    .contact-item {
      float: left;
      text-align: center;
      width: 50%;
      margin-top: 5px;
      margin-bottom: 52px;

      .thumb {
        display: block;
        overflow: hidden;
        text-align: center;

        img {
          width: auto;
          padding: 0;
          margin: 0;
        }
      }

      h3 {
        display: block;
        overflow: hidden;
        background: url("../images/location-gray-icon.png") center top no-repeat;
        padding: 36px 0 0;
        margin: 2px 0 0;
        font-weight: 400;
        @include use-registered-font($ew-base-font-bold);
        font-size: em(16px);
        color: $ew-black-color;
        text-transform: uppercase;
      }

      .address {
        display: block;
        overflow: hidden;
        margin: 5px 0 0;
        padding: 0;
      }

      .phone {
        display: block;
        overflow: hidden;
        margin: 5px 0 0;
        padding: 0;
      }
    }

  }

  &.advantages-page-content .in {
    padding-bottom: 0;
  }

  .page-title-wrap {
    position: relative;
    padding: 0 $ew-content-padding 23px;

    .sup {
      display: block;
      overflow: hidden;
      font-size: em(24px);
      line-height: 1em;
      text-transform: uppercase;
      @include use-registered-font($ew-base-font-light);
    }

    h1 {
      display: block;
      overflow: hidden;
      margin: 0 0;
      font-size: em(30px);
      line-height: em(18px);
      text-transform: uppercase;
      @include use-registered-font($ew-base-font-bold);
    }

    img {
      position: absolute;
      right: 20px;
      top: 3px;
    }
  }
}

.geography-page {

  .in {
    padding-bottom: 0;
  }
}

.wysiwyg {
  font-size: em(15px);
  line-height: em(19px);
  color: $ew-text-color-default;
  @include use-registered-font($ew-base-font-regular);

  .videoWrapper {
    position: relative;
    padding-bottom: 42%;
    padding-top: 25px;
    margin: em(10px) $ew-content-padding;
    height: 0;

    iframe {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
    }
  }

  .gallery-collection {
    position: relative;
    overflow: hidden;
    margin-top: em(22px);
    margin-bottom: em(20px);
    padding-left: $ew-content-padding - 2%;

    .items-list {
      display: block;
      overflow: hidden;

      .gallery-item {
        position: relative;
        float: left;
        padding: 0;
        margin: 0;
        width: 33.33333333333334%;
        padding-left: 2%;

        img {
          padding: 0;
          margin: 0;
          float: left;
          width: 100%;
        }

        .wiew-button {
          content: " ";
          display: none;
          position: absolute;
          top: 50%;
          left: 52%;
          width: 98px;
          height: 98px;
          margin-top: -49px;
          margin-left: -49px;
          @include border-radius(5px);
          background: $ew-light-color url("../images/view-button.png") center center no-repeat;

          &:hover{
            background-color: $ew-base-color;
          }
        }
        &:hover .wiew-button{
          display: block;
        }
      }
    }

    & + .gallery-collection {
      margin-top: 43px;
    }

    .gallery-collection-info {
      position: relative;
      overflow: hidden;
      margin-top: em(20px);
      margin-bottom: em(10px);
      padding: 0 $ew-content-padding 0 2%;

      .head {
        float: left;
        width: 50%;
        padding-right: 3%;
        display: block;
        overflow: hidden;
        color: $ew-black-color;
        line-height:24px;
        font-size: em(16px);
        text-align: right;
        @include use-registered-font($ew-base-font-bold);
      }

      .body {
        float: left;
        width: 50%;
        padding-left: 4%;
        display: block;
        overflow: hidden;
        color: $ew-text-color-default;
        line-height:20px;
        font-size: em(14px);
      }
    }
  }

  img {
    padding-left: $ew-content-padding;
    width: 100%;
    margin: 15px 0;
  }

  .no-tramsform-images {

    img {
      width: auto;
      margin: 0;
      padding: 0;
    }
  }

  p {
    margin: 0;
    padding: em(10px) $ew-content-padding;
  }

  .ew-content {
    margin: 0;
    padding: em(20px) $ew-content-padding;

    &.filter-area {
      padding-top: 0;
      padding-bottom: 15px;
    }
  }

  a {
    color: $ew-light-color;
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }

  ul, ol {
    list-style: none;
    padding: 0 $ew-content-padding;
    margin: 0 15px;

    li {
      display: block;
      font-size: em(14px);
      line-height: em(19px);
      padding-left: 71px;
      color: $ew-text-color-dark;
      background: url("../images/list-marker.png") 32px 5px no-repeat;
      margin-bottom: 10px;
    }
  }

  .partner-name {
    @include use-registered-font($ew-base-font-bold);
    font-weight: 700;
  }

  dl {
    width: 100%;
    display: block;
    overflow: hidden;
    font-size: em(19px);
    line-height: em(19px);
    padding: 0 $ew-content-padding;
    margin: 20px 0;

    dt {
      float: left;
      min-width: 80px;
      text-align: right;
      margin-right: 40px;
      padding: 0;
      border-bottom: 1px solid $ew-light-color;
      color: $ew-text-color-dark;
      margin-bottom: 5px;
    }

    dd {
      padding: 0 0 0 120px;
      margin: 0;
      min-height: 35px;
      display: block;
      font-size: em(12px);
      color: $ew-text-color-default;
      margin-bottom: 5px;
    }
  }

  h1, h2, h3, h4, h5, h6 {
    padding: 0 $ew-content-padding;
    color: $ew-text-color-dark;
    @include use-registered-font($ew-base-font-bold);
  }

  .leavered-header {
    display: block;
    overflow: hidden;
    padding-top: 18px;
    line-height: em(35px);
    font-size: em(26px);
    @include use-registered-font($ew-base-font-regular);

    span {
      position: relative;
      font-size: em(29px);
      @include use-registered-font($ew-base-font-bold);

      &::after {
        content: " ";
        position: absolute;
        width: 27px;
        height: 24px;
        top: -6px;
        right: -32px;
        background: url("../images/headere-leavers.png") 0 0 no-repeat;
      }
    }
  }

  .gmaps {
    width: 100%;
    min-height: 390px;
    display: block;
    overflow: hidden;
    margin: 35px 0 0 0;

    * {
      @include transition(0s);
    }

    .gmnoprint {
      display: none !important;
    }
  }

  strong {
    color: $ew-text-color-dark;
    @include use-registered-font($ew-base-font-bold);
  }

  h1 {
    font-size: em(22px);
  }

  h2 {
    font-size: em(20px);
  }

  h3 {
    font-size: em(28px);
  }

  h4 {
    font-size: em(16px);
  }

  h5 {
    font-size: em(15px);
  }

  h6 {
    font-size: em(14px);
  }

  .text-left {
    text-align: left;
  }

  .text-center {
    text-align: center;
  }

  .text-right {
    text-align: right;
  }

  .uppercase {
    text-transform: uppercase;
  }

  .more-detail-wrapper {
    padding: 0 $ew-content-padding;

    h4 {
      margin: 0;
      padding: 0;
      @include use-registered-font($ew-base-font-bold);
      font-size: em(15px);
    }

    p {
      padding-right: 0;
      padding-left: 0;
      font-size: em(17px);
      margin-top: em(15px);
    }
  }

  hr {
    right: 0;
    background-color: $ew-light-color;
    border-width: 0;
    color: $ew-light-color;
    height: 4px;
    line-height: 0;
    margin: 12px 0 12px $ew-content-padding;
    page-break-after: always;
    text-align: center;
    width: 100% - $ew-content-padding;
  }

  .jq-selectbox .jq-selectbox__select {
    background: $pf-input-color;
    color: $ew-base-font-color;
    border: 1px solid $pf-input-border-color;
    height: 40px;
    line-height: 40px;

    .jq-selectbox__select-text {
      height: 38px;
      line-height: 38px;
    }
  }

  .jq-selectbox .jq-selectbox__trigger-arrow {
    width: 12px;
    height: 7px;
    background: url("../images/dark-arrows.png") 0 -7px no-repeat;
  }

  .jq-selectbox.opened .jq-selectbox__trigger-arrow {
    background-position: 0 0;
  }

  .jq-selectbox__dropdown {
    top: 40px !important;

    ul {
      margin: 0;
      padding: 0;
      max-height: 300px;
      background: $pf-input-color;
    }

    li {
      line-height: 35px;
      min-height: 20px;
      padding: 0 15px;
      margin: 0;
      @include use-registered-font($ew-base-font-regular);
      @include disable-content-selection();
      background: $pf-input-color;
      color: $ew-base-font-color;

      &.option {
        padding-left: 25px
      }

      &:hover {
        background: darken($pf-input-color, 3);
        color: $ew-light-color;
      }
    }
  }

  .texted-image {
    position: relative;
    overflow: hidden;
    margin: 45px 0;
    padding-left: $ew-content-padding;

    &.advantage {
      margin: 15px 0 0;
      padding-left: 0;

      img {
        margin: 0;
      }

      .description {
        text-align: center;
        padding: 0;
        width: 48%;
        max-width: 100%;
        left: 0;
        text-transform: uppercase;
      }

      &.right-text {
        .description {
          right: 0;
          left: auto;
        }
      }

      & + .advantage {
        margin-top: 0;
      }
    }

    &.career {
      margin: 15px 0 0;
      padding-left: 0;

      img {
        margin: 0;
      }

      .description {
        text-align: center;
        padding: 0;
        width: 60%;
        max-width: 100%;
        font-size: em(17px);
        left: 0;

        .enum {
          font-size: em(46px);
          display: block;
          overflow: hidden;
          line-height: 1em;
          position: relative;
          text-align: center;
          color: $ew-text-color-dark;

          &::after {
            content: " ";
            position: relative;
            display: block;
            overflow: hidden;
            width: 50%;
            margin: 7px auto 12px;
            border-bottom: 1px solid $ew-devider-color;
          }
        }
      }

      &.right-text {
        .description {
          right: 0;
          left: auto;
        }
      }

      & + .career {
        margin-top: 0;
      }
    }

    .description {
      font-size: em(17px);
      line-height: em(19px);
      position: absolute;
      left: $ew-content-padding;
      top: 0;
      padding: 0;
      margin: 0;
      color: $ew-text-color-dark;
      background: url("../images/content-fog-bg.png");
      height: 100%;
      width: 41%;
      max-width: 315px;
      padding-right: 100px;

      table {
        height: 100%;
        width: 100%;

        td {
          vertical-align: middle;
        }
      }
    }

    img {
      float: left;
      padding-left: 0;
      margin-bottom: 0;
    }
  }
}

.social-buttons {
  display: inline-block;
  height: 28px;

  a {
    display: inline-block;
    margin: 0 3px;
    padding: 0;
    width: 28px;
    height: 28px;
    background: url("../images/social-sharring.png") 0 0 no-repeat;

    &.fb {
      background-position: 0 0;
    }

    &.twitter {
      background-position: -28px 0;
    }

    &.fb {
      background-position: -56px 0;
    }

    &:hover {
      @include opacity(.8);
    }
  }
}

.colored-social-buttons {
  display: inline-block;
  height: 30px;

  a {
    display: inline-block;
    margin: 0;
    padding: 0;
    width: 30px;
    height: 30px;
    background: url("../images/colored-social.png") 0 0 no-repeat;

    &.google-plus {
      background-position: 0 0;
    }

    &.facebook {
      background-position: -35px 0;
    }

    &.twitter {
      background-position: -70px 0;
    }

    &:hover {
      @include opacity(.8);
    }
  }
}

#fwbs_bottom {
  position: fixed;
  bottom: $ew-footer-height;
  margin-bottom: 20px;
  height: 12px;
  line-height: 12px;
  width: 100%;
  text-align: center;

  a {
    display: inline-block;
    margin: 1px 2px;
    width: 10px;
    height: 10px;
    margin-right: 10px;
    background: $ew-white-color;
    @include border-radius(50%);

    &.active {
      width: 12px;
      height: 12px;
      margin-top: 0px;
      margin-bottom: 0px;
      background-color: $ew-light-color;
    }
  }
}

#fwbslider {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  overflow: hidden;

  * {
    @include transition(0s);
  }

  img {
    outline: none;
    border: none;
    position: fixed;
    top: 0;
    left: 0;
    display: none;
    width: auto;
    height: auto;
    -ms-interpolation-mode: bicubic;
    image-rendering: optimizeQuality;

    &.fit_always {
      min-height: 100%;
      min-width: 1024px;
      width: 100%;
      height: auto;
    }
  }
}

.main-menu {
  z-index: 101;
  position: fixed;
  display: none;
  left: 0;
  max-width: 420px;
  width: 100%;
  margin: 0;
  padding: 0;
  top: $ew-menu-button-height;
  background: url("../images/dark-fog-bg-2.png");
  @include transition(0s);

  ul {
    list-style: none;
    padding: 50px 0;
    margin: 0;
    @include transition(0s);

    li {
      display: block;
      padding: 0;
      margin: 0;
      @include transition(0s);

      a {
        color: $ew-white-color;
        font-size: 25px;
        line-height: 40px;
        display: block;
        padding: 0 20px;
        text-transform: uppercase;
        @include use-registered-font($ew-base-font-light);
      }

      &:hover {
        & > a {
          text-decoration: none;
          background: $ew-light-color;
        }
      }

      & > .submenu {
        @include transition(0s);
        position: fixed;
        display: none;
        width: 388px;
        left: 420px;
        top: 0;
        height: 100%;
        overflow: hidden;
        padding-bottom: $ew-footer-height;

        & > ul {
          position: static;
          width: 100%;
          left: 0;
          top: 0;
          height: 100%;
          padding: $ew-menu-button-height + 10 0 0;
          background: url("../images/dark-fog-bg-2.png");

          a {
            color: $ew-white-color;
            font-size: 18px;
            line-height: 40px;
            display: block;
            padding: 0 20px;
            text-transform: none;
            @include use-registered-font($ew-base-font-light);

            &:hover {
              text-decoration: none;
              background: $ew-light-color;
            }
          }
        }
      }
    }
  }
}

.menu-logo {
  z-index: 100;
  position: fixed;
  top: 0;
  left: 0;
  max-width: 420px;
  width: 100%;
  background: $ew-white-color;
  height: $ew-menu-button-height;

  .toggle-menu-button {
    float: left;
    position: relative;
    width: $ew-menu-button-width;
    height: $ew-menu-button-height;
    line-height: $ew-menu-button-height;
    background: $ew-menu-button-background;
    margin: 0;
    padding: 0;
    text-align: center;
    text-transform: uppercase;
    font-size: 12px;
    text-decoration: none;
    color: $ew-white-color;

    &.active {
      background: $ew-light-color;

      &:before {
        background-position: 50% 0;
      }
    }

    &:before {
      @include transition(0s);
      content: ' ';
      position: absolute;
      left: 0;
      top: 50%;
      width: 100%;
      height: 5px;
      margin-top: 20px;
      background: url("../images/menu-arrows.png") 50% -5px no-repeat;
    }
  }

  .logo {
    display: block;
    overflow: hidden;
    text-align: center;

    img {
      width: $ew-header-logo-width;
      height: $ew-header-logo-height;
      margin: ($ew-menu-button-height - $ew-header-logo-height ) / 2 0;
    }
  }
}

.news-list {
  z-index: 100;
  position: fixed;
  top: 0;
  left: 0;
  padding: 0;
  max-width: 420px;
  width: 100%;

  .news-carousel {
    position: relative;
  }

  #owl-news-carousel {
    border: 0px none;
    height: 200px;
    padding: 0px;

    * {
      @include transition(0s);
    }

    .item {
      background: url("../images/light-fog.png");
      display: block;
      overflow: hidden;
      float: left;
      height: 200px;
      padding: 40px 65px;
      font-size: 13px;
      line-height: 22px;

      time {
        float: left;
        width: 40px;
        height: 120px;
        margin: 13px 12px 0 0;
        text-align: center;
        font-size: 15px;
        line-height: 15px;
        padding-bottom: 32px;
        background: url("../images/leavers.png") right 50px no-repeat;

        span {
          display: block;
          font-size: 30px;
          line-height: 28px;
          @include use-registered-font($ew-base-font-bold);
        }
      }

      & > a {
        display: block;
        padding-top: 10px;
        @include use-registered-font($ew-base-font-regular);
      }
    }
  }

  .control {
    position: absolute;
    width: 20px;
    height: 20px;
    top: 50%;
    margin-top: -10px;
    background: $ew-base-color url("../images/news-arrows.png") 0 0 no-repeat;
    overflow: hidden;
    cursor: pointer;
    padding: 0;
    text-indent: 9999px;
    overflow: hidden;
    @include transition(0s);

    &.prev {
      left: 0;
    }

    &.next {
      right: 0;
      background-position: -20px 0;
    }

    &:hover {
      background-color: $ew-light-color;
    }
  }
}

footer {
  z-index: 102;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  padding: 0;
  height: $ew-footer-height;
  background: url("../images/footer-bg.png");
  @include transition(0s);

  * {
    @include transition(0s);
  }

  .in {
    position: relative;
    background-image: none !important;
    float: left;
    width: 100%;
    height: $ew-footer-height;
    padding-left: 20px;
    padding-right: 20px;
  }

  .container {
    position: relative;
  }

  .webshop-link {
    position: absolute;
    width: 140px;
    height: 140px;
    margin-bottom: 40px;
    background: url("../images/shop-icon.png");
    bottom: $ew-footer-height;
    right: 0;
  }

  .footer-social {
    display: block;
    text-align: right;
    height: 28px;
    margin: ($ew-footer-height - 28 ) / 2 0;
  }

  .meta {
    float: left;
    width: auto;
    height: $ew-footer-height;
    margin: 0;
    padding: 0;

    .location {
      float: left;
      height: 30px;
      padding-right: 9px;
      margin: 15px 0px 15px 0;
      text-transform: uppercase;
      border-right: 1px solid #857d7c;

      .jq-selectbox .jq-selectbox__select {
        width: 150px;
        padding-left: 25px;
        background: transparent url("../images/location.png") 3px center no-repeat;
      }
    }

    .lang {
      float: left;
      height: 30px;
      padding-right: 9px;
      margin: 15px 20px 15px 2px;
      text-transform: uppercase;
      border-right: 1px solid #857d7c;
    }

    form.search {
      display: none;
      float: left;
      height: 30px;
      margin: 15px 0;
      padding: 0;

      &.up {
        position: absolute;
        bottom: $ew-footer-height - 15;
        left: 0px;
        background: url("../images/footer-bg.png");
        padding: 15px;
        height: 50px;
        width: 100%;

        input[type=text] {
          margin-right: 0;
          width: 220px;
          @include border-radius(0);
          color: #e2e2e2;
          border-bottom: 1px solid #e2e2e2;
          @include use-registered-font($ew-base-font-regular);
        }
        input[type=submit], button[type=submit], a.search {
          float: right;
        }
      }
    }

    input[type=submit], button[type=submit], a.search {
      display: inline-block;
      background: transparent url("../images/zoom.png") 0 0 no-repeat;
      border: 0px none;
      width: 23px;
      height: 23px;
      cursor: pointer;
      text-indent: -9999px;
      margin: 0;
      padding: 0;
    }

    a.search {
      margin: 16px 0;
    }

    input[type=text] {
      border: 0px none;
      background: transparent;
      color: #e2e2e2;
      font-size: 13px;
      @include use-registered-font($ew-base-font-light);
      padding: 0;
      height: 30px;
      width: 290px;
      margin: 0 7px 0 0;
      border-bottom: 1px solid #e2e2e2
    }
  }

  .author-icon {
    float: right;
    height: $ew-footer-height;
    padding: 15px 15px 0 28px;
  }
}

.openedGalleryView {
  overflow: hidden;
}

.ew-gallery-preview-wrap {
  position: fixed;
  width: 100%;
  height: 100%;
  left:0;
  top: 0;
  z-index: 1000;
  display: none;
  overflow: hidden;
  background-color: $ew-black-color;
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  @include transition(0s);

  .mask {
    @include transition(0s);
    position: fixed;
    width: 100%;
    height: 100%;
    left:0;
    top: 0;
    z-index: 1001;
    background-color: $ew-black-color;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    @include transition(0s);
  }

  .close {
    position: absolute;
    right: 0;
    top:0;
    width: 50px;
    height: 50px;
    z-index: 1002;
    @include transition(0s);
    background: url("../images/close-popup.png") 0 0 no-repeat;

    &:hover {
      background-position: 0 -50px;
    }
  }

  .prev {
    position: absolute;
    left: 0;
    top:50%;
    margin-top: -25px;
    width: 50px;
    height: 50px;
    z-index: 1002;
    @include transition(0s);
    background: url("../images/gallery-preview-arrows.png") 0 0 no-repeat;

    &:hover {
      background-position: 0 -50px;
    }
  }

  .next {
    position: absolute;
    right: 0;
    top:50%;
    margin-top: -25px;
    width: 50px;
    height: 50px;
    z-index: 1002;
    @include transition(0s);
    background: url("../images/gallery-preview-arrows.png") -50px 0 no-repeat;

    &:hover {
      background-position: -50px -50px;
    }
  }
}

.ew-video-popup-wrap {
  position: fixed;
  width: 100%;
  height: 100%;
  left:0;
  top: 0;
  z-index: 1000;
  display: none;
  overflow: hidden;
  background: url("../images/popup-bg.png");
  @include transition(0s);

  * {
    @include transition(0s);
  }

  .close {
    position: absolute;
    right: 0;
    top:0;
    width: 50px;
    height: 50px;
    z-index: 1002;
    @include transition(0s);
    background: url("../images/close-popup.png") 0 0 no-repeat;

    &:hover {
      background-position: 0 -50px;
    }
  }

  .videoWrapper {
    position: fixed;
    width: 800px;
    height: 450px;
    top: 50%;
    margin-top: -225px;
    left: 50%;
    margin-left: -400px;
    overflow: hidden;

    iframe {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
    }
  }
}

